<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor Control</title>
    <!-- Enlace al archivo de estilos -->
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container">
        <!-- Mostrar la imagen del motor -->
        <div id="motorContainer">
            <img id="motor" src="@ViewBag.GifPath" alt="Motor">

            <!-- Elementos para mostrar la fecha y la hora -->
            <div id="dateTimeContainer">
                <span id="date"></span>
                <span id="time"></span>
            </div>
        </div>

        <div class="buttons">
            <!-- Formulario para controlar el motor -->
            <form id="controlForm" method="post" action="/Motor/ControlMotor">
                <button name="action" value="left">Girar Izquierda</button>
                <button name="action" value="pause">Pausa</button>
                <button name="action" value="right">Girar Derecha</button>
            </form>
        </div>
    </div>

    <!-- Script para actualizar la fecha y la hora en tiempo real -->
    <script>
        // Función para obtener la fecha y la hora actual
        function getCurrentDateTime() {
            var now = new Date();
            var date = now.toLocaleDateString();
            var time = now.toLocaleTimeString();
            return { date: date, time: time };
        }

        // Función para actualizar la fecha y la hora en los elementos HTML
        function updateDateTime() {
            var dateTime = getCurrentDateTime();
            document.getElementById("date").textContent = "Fecha: " + dateTime.date;
            document.getElementById("time").textContent = "Hora: " + dateTime.time;
        }

        // Actualizar la fecha y la hora cada segundo
        setInterval(updateDateTime, 1000);

        // Llamar a la función updateDateTime para mostrar la fecha y la hora al cargar la página
        updateDateTime();
    </script>
</body>
</html>
